{ 
  "env": {
    "es6": false,
    "node": false,
    "browser": true
    
  },
  "rules": {
    "no-undef": ["error", { "typeof": true }]
  },
  "globals": {
    "module": true,
    "require": true
  }
}